@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=VT323&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* color: #47f0cc;  */
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.gradient-border {
  position: relative;
  border-radius: 1rem; /* rounded-2xl */
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px; /* border width */
  background: linear-gradient(to right, #60a5fa, #a855f7, #ec4899);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}


.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  background-color: black;
}
